<footer class="row">

  <div class="small-12 columns">

    <div class="small-12 columns">
      <p>{{ site.description }}</p>
    </div>
    <div class="small-12 columns">
      <p>
        <a href="/privacy_policy">Privacy Policy</a>
        <a href="/dmca">DMCA</a>
      </p>
    </div>
    <div class="small-12 columns">
      <p>
        This site like most others uses cookies. If reading details about that titillates you, you may read more <a href="/privacy_policy#cookies">here</a>.
      </p>
    </div>

  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/app.js"></script>

</footer>
