
<p>
  Interested in sending us an article or sharing a useful resource? Click Submit below to email us the article or link to a resource along with any useful information like the system and the original author.
</p>

<p>
  <em>Optionally, tell us how you've found the article or resource useful or why others may find it useful as well.</em>
</p>

<p class="text-center">
  <a href="mailto:submissions@dungeonarchitects.network?subject=DAN%20Content%20Submission&body=Title:%0D%0A%0D%0AOriginal%20Author:%0D%0A%0D%0AContent:%0D%0A%0D%0AAdditional%20Info:" class="button large">
    Submit
  </a>
</p>

<p>
  <em>Many thanks for contributing to Dungeon Architects Network!</em>
</p>
